
$img-url: '../../dist/images/';

$home-hero-01: url("#{$img-url}home-hero-01.png");
$home-hero-02: url("#{$img-url}home-hero-02.png");
$home-hero-03: url("#{$img-url}home-hero-03.png");

$bg-home-contact: url("#{$img-url}icon-logo-e.svg");

$home-product-light-systems: url("#{$img-url}product-light-systems.png");
$home-product-mobile-carts: url("#{$img-url}product-mobile-carts.png");
$home-product-utility-centers: url("#{$img-url}product-utility-centers.png");
$home-product-chair-mount-cupsidors: url("#{$img-url}product-chair-mount-cupsidors.png");
$home-product-assistant-arms: url("#{$img-url}product-assistant-arms.png");

$chair-hero: url("#{$img-url}chair-hero.jpg");
$chair-hero-2x: url("#{$img-url}chair-hero-2x.jpg");

$support-hero: url("#{$img-url}support-hero.jpg");
$support-hero-2x: url("#{$img-url}support-hero-2x.jpg");
