
.container {
  width: 100%;
  max-width: 1146px;
  margin: 0 auto;

  @include bp-max-width($medium) {
    padding: $base*2 20px;
  }

  @include bp-min-width($medium) {
    width: 94%;
  }
}

.container--narrow {
  max-width: 1010px;
}

.bg--purple {
  background: $purple;
  color: white;
}

.js-no-scroll {
  height: 100%;
  overflow: hidden;
}

@mixin is-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.is-hidden {
  @include is-hidden;
}

.scroll-top {
  @include font-size(30px);
  opacity: 0;
  position: fixed;
  right: 40px;
  bottom: 40px;
  padding: 10px 20px 15px;
  background: $turq;
  line-height: 1;
  color: $purple;

  @include bp-max-width($small) {
    display: none;
  }
}

.scroll-top.js-is-visible {
  opacity: 1;
}
