/**
Class Naming Structure: block--element__modifier
**/

$sans: 'Roboto', Helvetica, arial, sans-serif;

$base: 24px;

$weight-light:  300;
$weight-book:   400;
$weight-medium: 600;
$weight-bold:   700;
$weight-black:  900;

body {
  font: $weight-book 1em/1.5em $sans;
}

h1,h2,h3,h4,h5 {
  line-height: 1;
}

strong, b {
  font-weight: $weight-bold;
}

em {
  font-style: italic;
}

.title__h1 {
  @include bp-min-width($medium) {
  }
}

.title__h2 {
  @include bp-min-width($medium) {
  }
}

.title__h3 {
  @include font-size(20px);
  font-weight: $weight-bold;
  text-transform: uppercase;
}

.title__h4 {
  @include bp-min-width($medium) {
  }
}

.title__h5 {
  @include bp-min-width($medium) {
  }
}

.section-title {
  @include font-size(20px);
  position: relative;
  margin-bottom: $base*2;
  padding-bottom: 12px;
  font-weight: $weight-bold;
  text-transform: uppercase;
  text-align: center;
}

.section-title:after {
  @include horizontal-center;
  content: '';
  bottom: 0;
  display: block;
  width: 200px;
  height: 4px;
  background: $turq;
}

.paragraph--large {
  @include font-size(20px);
  line-height: 1.2;
}

.body-content h1,
.body-content h2,
.body-content h3,
.body-content h4 {
}

.body-content p,
.body-content ul,
.body-content ol {
}

.body-content p:not(:last-child),
.body-content ul:not(:last-child),
.body-content ol:not(:last-child),
.body-content blockquote:not(:last-child) {
  margin-bottom: $base;
}

.body-content blockquote {
}
