    <footer class="site-footer">
      <div class="container">
        <nav class="footer-nav">
          <ul>
            <li><a href="">Engle Dental</a></li>
            <li><a href="">Catalog</a></li>
            <li><a href="">Sales Directory</a></li>
          </ul>
          <ul>
            <li><a href="">Products</a></li>
            <li><a href="">Engle 300 Traverse Chair</a></li>
            <li><a href="">Engle 300 Chair</a></li>
            <li><a href="">Dental Packages</a></li>
            <li><a href="">United Center Packages</a></li>
            <li><a href="">Light Systems</a></li>
            <li><a href="">Assistant Arms</a></li>
            <li><a href="">Chair Mount Cuspidors</a></li>
            <li><a href="">Mobile Carts</a></li>
            <li><a href="">Stools</a></li>
          </ul>
          <ul>
            <li><a href="">Support</a></li>
            <li><a href="">Product Care</a></li>
            <li><a href="">Warranty</a></li>
          </ul>
        </nav>
        <div class="footer-contact">
          <h4>Contact Us</h4>
          <p class="footer-contact__address">7205 NW Evergreen Parkway<br />
          Suite 100, Hillsboro OR 97124</p>
          <p class="footer-contact__phone">+1-503-359-9390</p>
          <p class="footer-contact__email"><a href="mailto:info@engledental.com">info@engledental.com</a></p>
          <div class="footer-social">
            <a href="#">
              <svg class="icon-facebook-circle icon-social">
                <use xlink:href="#icon-facebook-circle"></use>
              </svg>
            </a>
          </div>

        </div>
        <div class="footer-copyright">
          <p>&copy; Copyright 2017. All Rights Reserved. <a href="">Terms &amp; Privacy</a>.</p>
        </div>
      </div>
    </footer>

    <a href="" id="scroll-top" class="scroll-top">&uarr;</a>

    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="dist/js/slick.min.js"></script>
    <script src="dist/js/main.js"></script>
  </body>
</html>
