    <footer class="site-footer">
      <div class="container">
        <nav class="footer-nav">
          <ul>
            <li><a href="/">Engle Dental</a></li>
            <li><a href="http://www.engledental.com/our-catalog/">Catalog</a></li>
            <li><a href="http://www.engledental.com/sales-directory/">Sales Directory</a></li>
          </ul>
          <ul>
            <li><a href="http://www.engledental.com/shop/">Products</a></li>
            <li><a href="http://www.engledental.com/product-category/e300-traverse-chair/">Engle 300 Traverse Chair</a></li>
            <li><a href="http://www.engledental.com/product-category/e300-chair/">Engle 300 Chair</a></li>
            <li><a href="http://www.engledental.com/product-category/dental-packages/">Dental Packages</a></li>
            <li><a href="http://www.engledental.com/product-category/utility-center-packages/">United Center Packages</a></li>
            <li><a href="http://www.engledental.com/product-category/dental-light-systems/">Light Systems</a></li>
            <li><a href="http://www.engledental.com/product-category/assistants-arms/">Assistant Arms</a></li>
            <li><a href="http://www.engledental.com/product-category/chair-mount-cuspidors/">Chair Mount Cuspidors</a></li>
            <li><a href="http://www.engledental.com/product-category/mobile-carts/">Mobile Carts</a></li>
            <li><a href="http://www.engledental.com/product-category/stools/">Stools</a></li>
          </ul>
          <ul>
            <li><a href="http://www.engledental.com/support/">Support</a></li>
            <li><a href="http://www.engledental.com/product-care/">Product Care</a></li>
            <li><a href="http://www.engledental.com/warranty/">Warranty</a></li>
          </ul>
        </nav>
        <div class="footer-contact">
          <h4>Contact Us</h4>
          <p class="footer-contact__address">7205 NE Evergreen Parkway<br />
          Suite 100, Hillsboro OR 97124</p>
          <p class="footer-contact__phone">+1-503-359-9390</p>
          <p class="footer-contact__email"><a href="mailto:info@engledental.com">info@engledental.com</a></p>
          <div class="footer-social">
            <a href="https://www.facebook.com/Engle-Dental-Systems-1078345338875177/" target="_blank">
              <svg class="icon-facebook-circle icon-social">
                <use xlink:href="#icon-facebook-circle"></use>
              </svg>
            </a>
            <a href="https://www.linkedin.com/company/engle-dental-systems" target="_blank">
              <svg class="icon-linkedin-circle icon-social">
                <use xlink:href="#icon-linkedin-circle"></use>
              </svg>
            </a>
          </div>

        </div>
        <div class="footer-copyright">
          <p>&copy; Copyright 2017. All Rights Reserved.</p>
        </div>
      </div>
    </footer>

    <a href="" id="scroll-top" class="scroll-top">&uarr;</a>

    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="dist/js/slick.min.js"></script>
    <script src="dist/js/jquery.fitvids.js"></script>
    <script src="dist/js/main.js"></script>
  </body>
</html>
