<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engle Dental</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,400i,700,700i" rel="stylesheet">
    <link href="dist/css/main.css" rel="stylesheet" media="all">
  </head>
  <body>
    @@include('svg.html')

    <header class="site-header">
      <div class="container">
        <div class="site-logo">
          <img src="dist/images/logo.svg" alt="Engle Dental" />
        </div>
        <nav class="main-nav">
          <a href="" class="nav-toggle">
            <div class="nav-toggle__bar"></div>
          </a>
          <ul class="menu">
            <li><a href="">Products</a></li>
            <li><a href="">Catalog</a></li>
            <li><a href="">Traverse Chair</a></li>
            <li><a href="">Sales Directory</a></li>
            <li><a href="">Support</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
