
.site-footer {
	color: $grey;
	box-shadow: 0 -1px 0 $lt-grey;
}

.site-footer a {
	color: $grey;
}

.site-footer a:hover {
	color: $purple;
}

.site-footer .container {
	padding-top: $base*2;
	padding-bottom: $base*2;

	@include bp-min-width($large) {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.footer-nav {
	margin-bottom: $base;

	@include bp-min-width($small) {
		display: flex;
		margin-bottom: $base*2;
	}

	@include bp-min-max($small, $medium) {
		justify-content: space-between;
	}
}

.footer-nav ul:not(:last-child) {
	padding-right: 60px;

	@include bp-max-width($small) {
		margin-bottom: $base;
	}
}

.footer-nav a {
	@include font-size(15px);
  display: block;
  color: $grey;
	line-height: 2;
  font-weight: $weight-bold;
  text-transform: uppercase;
}

.footer-contact {
	@include font-size(15px);
	line-height: 2;
	font-weight: $weight-bold;
	text-transform: uppercase;
}

.footer-contact h4 {
	@include font-size(15px);
	line-height: 2;
}

.footer-contact__address,
.footer-contact__email,
.footer-social {
	margin-bottom: $base;
}

.footer-contact a {
	color: $grey;
}

.icon-social {
	width: 48px;
	height: 48px;
}

.footer-social a {
	margin-right: 10px;
}

.footer-social a:hover .icon-social {
	fill: $purple;
}

.footer-copyright {
	@include font-size(12px);
	width: 100%;
	text-transform: uppercase;
	line-height: 1.5;
}
